@import '../../sass/colors.scss';


.pokemonItems-container {
  width: 100%;
  min-height: 100vh;
  background-color: #fbfcfc;
  // background-color: red;
  margin-top: 15px;

  .pokemonItems-pokemons {
    width: 343px;
    margin: auto ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // background-color: aquamarine;

    .pokemonItems-card {
      width: 166px;
      height: 175px;
      background-color: $grass-color;
      display: inline-block;
      margin-top: 80px;
      border-radius: 10px;

      .card-img {
        width: 130px;
        height: 70px;
        margin: auto;
        position: relative;
        // background-color: antiquewhite;

        img {
          width: 130px;
          max-height: 130px;
          position: absolute;
          top: -55.5px;
          
        }
      }

      .card-number {
        display: inline-block;
        margin-top: 8px;
        padding-left: 10px;
      }
      
      h3 {
        margin-top: 8px;
        padding-left: 10px;
        font-weight: 300;
      }

      .card-types {
        width: 146px;
        display: flex;
        justify-content: space-between;
        // background-color: aqua;

        margin: auto {
          top: 8px;
        }

        .card-type {
          display: inline-block;
          width: 68px;
          height: 30px;
          // padding-top: calc(15px - 9.5px);
          border-radius: 10px;
          text-align: center;

          // .card-type-name {
          //   display: inline-block;
          //   width: max-content;
          //   font-size: 16px;
          // }
        }
      }
    }

    .bg-fire {
      background-color: $fire-color;
    }
    .bg-ice {
      background-color: $ice-color;
    }
    .bg-flying {
      background-color: $flying-color;
    }
    .bg-psychic {
      background-color: $psychic-color;
    }
    .bg-grass {
      background-color: $grass-color;
    }
    .bg-poison {
      background-color: $poison-color;
    }
    .bg-normal {
      background-color: $normal-color;
    }
    .bg-electric {
      background-color: $electric-color;
    }
    .bg-fairy {
      background-color: $fairy-color;
    }
    .bg-bug {
      background-color: $bug-color;
    }
    .bg-ground {
      background-color: $ground-color;
    }
    .bg-water {
      background-color: $water-color;
    }
    .bg-fighting {
      background-color: $fighting-color;
    }
    .bg-rock {
      background-color: $rock-color;
    }
    .bg-steel {
      background-color: $steel-color;
    }
    .bg-ghost {
      background-color: $ghost-color;
    }
    .bg-dragon {
      background-color: $dragon-color;
    }
    .bg-dark {
      background-color: $dark-color;
    }
  }
}

@media (min-width: 1200px) {

  .pokemonItems-container {

    .pokemonItems-pokemons {
      width: 1140px;
      justify-content:flex-start;
  
    }

    .pokemonItems-card {
      margin: {
        right: 12px;
        left: 12px;
      };
    }
  }
}