.home-container {
  width: 100%;

  .home-image {
    height: 40vh;
    position: relative;
    box-shadow: 0px 1px 15px black;
    
    img {
      width: 100%;
      height: 40vh;
    }

    .home-picture {
      width: 230px;
      height: 230px;
      border-radius: 50%;
      margin: auto;
      position: absolute;
      left: calc(50% - 115px);
      bottom: calc(0% - 115px);

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid rgb(252, 249, 249);
      }
    }
  }

  .home-profile {
    width: 100%;
    text-align: center;
    margin-top: 140px;

    h3 {
      font-size: 24px;
      font-style: italic;
      font-family: Times;
      color: #30475E;
      font-weight: bold;
    }

    p {
      width: 343px;
      background: radial-gradient(100% 122.32% at 0% 0%, rgba(255, 255, 255, 0.7) 0%, rgba(221,231,244,255) 100%);

      margin: auto {
        top: 20px;
      }
      font-size: 16px;
      border: 1px solid black;
      padding: 10px;
      border-radius: 10px;
    }

    .home-cv {
      width: 343px;
      text-align: left;

      margin: auto {
        top: 20px;
      };

      button {
        width: 150px;
        height: 40px;
        background-color: #30475E;
        color: white;
        border-radius: 15px;
      }
    }
  }
}

@media (min-width: 768px) {

  .home-container {

    .home-image {
      height: 600px;

      img {
        height: 600px;
      }

      .home-picture {
        width: 190px;
        height: 190px;
        position: absolute;
        left: calc(50% - 105px);
        bottom: 330px;
      }
    }

    .home-image:before {
      content:'';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.808);
    }

    .home-profile {
      width: 500px;
      height: 208px;
      padding-top: 0;
      position: absolute;
      right: calc(50% - 250px);
      top: 300px;
      margin-top: 0;


      h3 {
        font-size: 30px;  
      }

      p {
        width: 480px;
        background: none;
        color: white;

        margin: auto {
          top: 20px;
        }

        font-size: 16px;
        border: 0;
        padding: 10px;
      }

      .home-cv {
        width: 480px;
        text-align: center;
        
        margin: auto {
          top: 20px;
        };

        button {
          width: 150px;
          height: 40px;
          background-color: #30475E;
          color: white;
          transition: all 1s;
  
          &:hover {
            background-color: white;
            color: #30475E;
            border: 1px solid #30475E;
            border-radius: 15px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {

  .home-container {

    .home-image {
      height: 100vh;

      img {
        height: 100vh;
      }

      .home-picture {
        width: 250px;
        height: 250px;
        position: absolute;
        left: calc(50% - 400px);
        bottom: calc(50% - 125px);
      }
    }

    .home-profile {
      width: 600px;
      height: 260px;
      padding-top: 0;
      position: absolute;
      top: calc(50% - 130px);
      left: calc(50% - 150px);


      h3 {
        width: 580px;
      }

      p {
        width: 580px;
        background: none;
        color: white;

        margin: auto {
          top: 20px;
        }

        font-size: 18px;
        border: 0;
        padding: 10px;
      }

      .home-cv {
        width: 580px;
        
        margin: auto {
          top: 20px;
        };
      }
    }
  }
}

@media (min-width: 1440px) {
  
  .home-container {

    .home-image {

      .home-picture {
        width: 300px;
        height: 300px;
        bottom: calc(50% - 150px);
        left: calc(50% - 420px);
      }
    }
    
    .home-profile {
      left: calc(50% - 100px);
    }
  }
}