.home-container {
  width: 100%;

  .home-image {
    height: 40vh;
    position: relative;
    box-shadow: 0px 1px 15px black;
    
    img {
      width: 100%;
      height: 40vh;
    }

    .home-picture {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: auto;
      position: absolute;
      left: calc(50% - 75px);
      bottom: calc(0% - 75px);

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid rgb(252, 249, 249);
      }
    }
  }

  .home-profile {
    width: 100%;
    text-align: center;
    padding-top: 80px;

    h3 {
      font-size: 18px;
    }

    p {
      width: 343px;
      background: radial-gradient(100% 122.32% at 0% 0%, rgba(255, 255, 255, 0.7) 0%, rgba(221,231,244,255) 100%);

      margin: auto {
        top: 20px;
      }
      font-size: 16px;
      border: 1px solid black;
      padding: 10px;
      border-radius: 10px;
    }
  }
}

@media (min-width: 768px) {

  .home-container {

    .home-image {
      height: 600px;

      img {
        height: 600px;
      }

      .home-picture {
        width: 190px;
        height: 190px;
        position: absolute;
        left: calc(50% - 105px);
        bottom: 330px;
      }
    }

    .home-image:before {
      content:'';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
    }

    .home-profile {
      width: 500px;
      height: 208px;
      padding-top: 0;
      position: absolute;
      right: calc(50% - 250px);
      top: 300px;

      h3 {
        font-size: 20px;  
        color: white;
      }

      p {
        width: 480px;
        background: none;
        color: white;

        margin: auto {
          top: 20px;
        }

        font-size: 16px;
        border: 0;
        padding: 10px;
      }
    }

  }

}

@media (min-width: 1200px) {

  .home-container {

    .home-image {
      height: 100vh;

      img {
        height: 100vh;
      }

      .home-picture {
        width: 210px;
        height: 210px;
        position: absolute;
        left: 25%;
        bottom: calc(50% - 105px);
      }
    }

    .home-profile {
      width: 600x;
      height: 208px;
      padding-top: 0;
      position: absolute;
      right: 15%;
      top: calc(50% - 104px);

      h3 {
        font-size: 24px;  
        color: white;
      }

      p {
        width: 580px;
        background: none;
        color: white;

        margin: auto {
          top: 20px;
        }

        font-size: 18px;
        border: 0;
        padding: 10px;
      }
    }
  }

}

@media (min-width: 1440px) {
  
  .home-container {

    .home-image {

      .home-picture {
        left: 30%;
        bottom: calc(50% - 105px);
      }
    }

    .home-profile {
      right: 20%;
    }

  }
  
}