.pokemon-header-container {
  width: 100%;
  height: 100px;
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.192);
  // background-color: #ffff;
  background-color: black;

  h1 {
    text-align: center;  
    // color: #fd8298;
    color: white;
    padding-top: calc(50px - 19px);
    font-style: italic;
  }
}

.pokemon-footer-container {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: #ffff;
  
  h4 {
    text-align: center;
    font-weight: 100;
    padding-top: calc(20px - 9.5px);
  }
}

@media (min-width: 1200px) {

  .pokemon-header-container {

    h1 {
      font-size: 45px;
      padding-top: calc(50px - 30px);
    }
  }
}