.title-container {
  
  .title {
    position: relative;
    width: 80%;
    height: 50px;
    background-color: gray;
    margin: auto {
      top: 80px;
    };
    
    h2 {
      display: inline-block;
      position: absolute;
      top: calc(25px - 14px);
      left: 15px;
    }

    .add-btn {
      position: absolute;
      top: calc(25px - 13px);
      left: 90px;
    }

    .close-btn {
      position: absolute;
      top: calc(25px - 13px);
      left: 120px;
    }

    .remove-btn {
      position: absolute;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      font-weight: bold;
      border: 0;
      top: calc(25px - 13px);
      right: 10px;
      color: white;
      background-color: rgb(204, 49, 49);
    }
  }

  .title-input {
    width: 70%;

    margin: auto {
      top: 20px;
    };

    input {
      width: 100%;
      padding: 10px 20px;
      border-radius: 10px;
    }
  }

  .title-description {
    width: 70%;
    height: 30px;
    margin: auto {
      top: 20px;
    };

    span {
      display: block;
      padding: {
        top: calc(15px - 9.5px);
      }
    }
  }
}