.title-container {
  
  .title {
    width: 80%;
    height: 50px;
    background-color: gray;
    margin: auto {
      top: 30px;
    };
    
    h2 {
      padding: {
        top: calc(25px - 14px);
        left: 10px;
      }
    }
  }

  .title-description {
    width: 70%;
    height: 30px;
    margin: auto {
      top: 20px;
    };
    background-color: chocolate;

    span {
      display: block;
      padding: {
        top: calc(15px - 9.5px);
      }
    }
  }
}